<!DOCTYPE html>
<html>
  <head>
    <title>Admissions</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section>
      <div class="section-container">
        
        <h2>Information Requests</h2>
        <p class="desc">These are information requests made by students, oldest first.</p>
        <div class="requests-container">
          
          <% locals.requests.forEach(function(req) { %>
          <div id="request-<%= req.requestId %>" class="request <%= req.closed ? 'closed' : 'open' %>">
            <h3><%= req.student.name %></h3>
            <div class="contact">
              <a href="mailto:<%= req.student.email %>" class="email <%= req.contact == 'email' ? 'bold' : '' %>"><%= req.student.email %></a>
              <p class="phone <%= req.contact == 'phone' ? 'bold' : '' %>"><%= req.student.phone %></p>
            </div>
            <textarea name="message" id="" cols="30" rows="3"><%= new Date(req.createdAt).toISOString().substr(0, 10) %> - <%= req.message %></textarea>
            <button onclick="completeRequest(<%= req.requestId %>)" <%= req.closed ? 'disabled' : '' %> ><%= req.closed ? 'Completed' : 'Mark Complete' %></button>
          </div>
          <% }) %>


        </div>
      </div>
    </section>

    <section>
        <div class="section-container">
          
          <h2>Applications</h2>
          <p class="desc">These are the currently pending student applications.</p>
          <div class="applications-container">
            
            <% locals.applications.forEach(function(app) { %>
            <div id="app-<%= app.applicationId %>" class="request <%= app.status !== 'pending' ? 'closed' : 'open' %>">
              <h3><%= app.student.name %></h3>
              <div class="contact">
                <p>Email: <%= app.student.email %></p>
                <p>Phone: <%= app.student.phone %></p>
                <p>SAT: <%= app.sat_combined_score %></p>
                <p>Major: <%= app.intended_major %></p>
                <p>Alumni Parent: <%= app.is_child_of_alumni %></p>
                <p>Parent Graduation Year: <%= app.alumni_parent_graduation_year %></p>
                <p>Parent Phone: <%= app.alumni_parent_phone %></p>
                <p>Application Status: <%= app.status %></p>
              </div>
              <textarea name="essay" id="" cols="30" rows="3"><%= new Date(app.createdAt).toISOString().substr(0, 10) %> - <%= app.essay %></textarea>
              <textarea name="references" id="" cols="30" rows="3"><%= app.references %></textarea>
              <button onclick="approveApp(<%= app.applicationId %>)" <%= app.status !== 'pending' ? 'disabled' : '' %> >Approve</button>
              <button onclick="rejectApp(<%= app.applicationId %>)" <%= app.status !== 'pending' ? 'disabled' : '' %> >Reject</button>
            </div>
            <% }) %>
  
  
          </div>
        </div>
    </section>
    
    <a href="/logout" class="logout">Logout</a>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function completeRequest(id) {
      $('#request-' + id).addClass('closed');
      $.post('/request/complete', { requestId: id });
    }

    function approveApp(id) {
      $('#app-' + id).addClass('closed');
      $.post('/application/approve', { applicationId: id });
    }

    function rejectApp(id) {
      $('#app-' + id).addClass('closed');
      $.post('/application/reject', { applicationId: id });
    }
  </script>
</html>